<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <headers><img src="/img/logo.png" alt="meadowlark Travel logo"></headers>
        {{{body}}}
    </body>
</html>